[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
influxdb-client = "*"
numpy = "*"
requests = "*"
pymodbus = "3.6.1"
amodevices = {git = "https://github.com/lmaisenbacher/amodevices.git"}
pydase = "0.10.6"
pint = "*"
"ruamel.yaml" = "*"

[dev-packages]

[requires]
python_version = "3"
