[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
PyVISA = "*"
influxdb-client = "*"
numpy = "*"
requests = "*"
pymodbus = "*"
amodevices = {git = "git@github.com:lmaisenbacher/amodevices.git"}


[dev-packages]

[requires]
python_version = "3"
